@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.title{
  border-bottom: 2px solid #010069;
  color: #010069;
}

.section{
  border-bottom: 2px solid #362f92;
  padding-bottom: 10px;
  color: #362f92;
  width: 30%;
}


.text-list{
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'PT Sans', sans-serif;

  span{
    span{
      border: 1px solid darkgray;
      border-radius: 100%;
      margin-right: 10px;
      svg{
        width: 24px;
        height: 30px;
        color: transparent;
      }
    }
  }

  &:hover{
    cursor: pointer;
    span{
      span{
        svg{
          color: red;
        }
      }
    }

  }
}


.add-task:hover{
  cursor: pointer;
  color: red;

  .icon-plus{
    color: white;
    border: 1px solid red;
    background-color: red;
    border-radius: 10px;
  }
}

.lbl-add-task{
  color: #427392;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid darkgray;

  svg{
    margin-right: 10px;
    border: 1px solid transparent;
    background-color: transparent;
  }
}

.icon-plus{
  color: red;
  width: 15px;
  height: 15px;
}

.completed{
  text-decoration: line-through;
  color: green;
  svg{
    color: black !important;
  }
}

.example-full-width{
  width: 50%;
  margin-left: 20px;
}

.set-priority{
  margin-left: 20px;
}

.example-form{
  border: 1px solid darkgray;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 5px;
}

.button-add-list{
  margin-left: 10px;
}
