@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.section{
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}


.text-list{
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'PT Sans', sans-serif;

  span{
    border: 1px solid darkgray;
    border-radius: 100%;
    margin-right: 10px;
    svg{
      width: 21px;
      height: 18px;
      color: transparent;
    }
  }
  &:hover{
    cursor: pointer;
    span{
      svg{
        color: red;
      }
    }
  }
}


.add-task:hover{
  cursor: pointer;
  color: red;

  .icon-plus{
    color: white;
    border: 1px solid red;
    background-color: red;
    border-radius: 10px;
  }
}

.lbl-add-task{
  color: lightgray;
  font-size: 16px;
  padding-top: 20px;

  svg{
    margin-right: 10px;
    border: 1px solid transparent;
    background-color: transparent;
  }
}

.icon-plus{
  color: red;
}

.completed{
  text-decoration: line-through;
  color: green;
  svg{
    color: black !important;
  }
}
